body {
  .page {
    div.login-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      min-height: 1000px;
      div.login {
        text-align: center;
        flex: 0 0 auto;
        h1 {
          color: #67C288;
          font-size: 3.5em;
          font-weight: bold;
        }
        h2 {
          margin: 30px 10px 0px 10px;
          font-size: 2em;
          font-weight: bold;
        }
        button.login {
          margin-top: 30px;
          color: #fff;
          font-size: 1.3em;
          background-color: #67C288;
          padding: 7px 35px;
          border: 0px;
          &:hover, &:active {
            background-color: #5DA577;
          }
        }
      }
    }
    div.dates-wrapper {
      div.dates {
        h2 {
          color: #4589F7;
          font-size: 3.3em;
          font-weight: bold;
          text-align: center;
        }
        form {
          div.month-row {
            padding: 40px;
            label.radio-inline {
              width: 90%;
              text-align: center;
              color: #333;
              border: 1px solid #333;
              padding: 9px;
              font-size: 2.2em;
            }
            input[type="radio"] {
              display: none;
              &:checked + label.radio-inline {
                color: #fff;
                background-color: #4589F7;
                border: 0px;
              }
            }
          }
          div.years {
            margin-top: 40px;
            text-align: center;
            label.radio-inline {
              color: #333;
              padding: 9px;
              font-size: 2.2em;
            }
            input[type="radio"] {
              display: none;
              &:checked + label.radio-inline {
                color: #4589F7;
                font-weight: bold;
                border: 0px;
              }
            }
          }
        }
      }
    }
  }
}
