<template name="about">
  <div class="about-wrapper">
    <div class="about">
      <h1>About</h1>
      <h2>Modes is a visual coding platform reflecting your social media images</h2>

      <div class="items">
        <div class="item">
          <div class="title">A Project by:</div>
          <div class="content"><a href="#">Adi Tamches</a></div>
        </div>

        <div class="item">
          <div class="title">Developed by:</div>
          <div class="content"><a href="https://y3xz.com">Yuval Adam</a></div>
        </div>

        <div class="item">
          <div class="title">Made in 2015 while studying at</div>
          <div class="content"><a href="#">The NB Haifa School of Design</a></div>
        </div>
      </div>
    </div>
  </div>
</template>
