<template name="dates">
  <div class="dates-wrapper">
    <h1>Choose a date</h1>
    <div class="dates">
      <div class="date">
        <div class="month-wrapper">
          <div class="all-months">
            <div class="month">01</div>
            <div class="month">02</div>
            <div class="month">03</div>
            <div class="month">04</div>
            <div class="month">05</div>
            <div class="month">06</div>
            <div class="month">07</div>
            <div class="month">08</div>
            <div class="month">09</div>
            <div class="month">10</div>
            <div class="month">11</div>
            <div class="month">12</div>
          </div>
        </div>
        <div class="slash">/</div>
        <div class="year-wrapper">
          <div class="all-years">
            <div class="year">11</div>
            <div class="year">12</div>
            <div class="year">13</div>
            <div class="year">14</div>
            <div class="year">15</div>
          </div>
        </div>
      </div>
    </div>
    <form class="dates">
      <input type="hidden" name="month" id="month" value="01">
      <input type="hidden" name="year" id="year" value="11">
      <div class="error" style="display: none;">Apparently you don't have enough photos to create a statistic from, please choose another month and try again</div>
      <button class="next" style="display: none;">Start</button>
    </form>
  </div>
</template>
