<template name="photos">
  <div class="photos-wrapper">
    <h4>(Step 1)</h4>
    <h2>Processing...</h2>
    <button class="pixelate btn btn-default">Pixelate</button>
    <button class="color btn btn-default">Color</button>
    <div class="photos">
      {{#each photos}}
        {{> photo}}
      {{/each}}
    </div>
  </div>
</template>

<template name="photo">
  <div class="photo">
    <div class="title">{{date}}</div>
    <img id="img-{{id}}" src="{{proxy images.thumbnail.url}}" crossorigin="anonymous">
    <canvas id="canvas-{{id}}" style="height: 150px; width: 150px;"></canvas>
  </div>
</template>
