<template name="photos">
  <div class="photos-wrapper">
    <h4 class="step">(Step 1)</h4>
    <h2 class="title">Processing...</h2>
    <!-- <button class="pixelate btn btn-default">Pixelate</button>
    <button class="color btn btn-default">Color</button>
    <button class="average btn btn-default">Average</button> -->
    <div class="photos">
      {{#each photos}}
        {{> photo}}
      {{/each}}
    </div>
    <div class="dominants" style="display: none;">
      <div class="dominant">
        <h3>Dominant color #1</h3>
        <div id="dominant1" class="color"></div>
        <h5>#AABBCC</h5>
      </div>
      <div class="dominant">
        <h3>Dominant color #2</h3>
        <div id="dominant2" class="color"></div>
        <h5>#AABBCC</h5>
      </div>
    </div>
    <canvas id="canvas-all" style="display: none; height: 150px; width: 150px;"></canvas>
  </div>
</template>

<template name="photo">
  <div class="photo" style="display: none;">
    <div class="title">{{date}}</div>
    <img id="img-{{id}}" class="instagram-photo" src="{{proxy images.thumbnail.url}}" crossorigin="anonymous">
    <canvas id="canvas-{{id}}" style="height: 150px; width: 150px;"></canvas>
  </div>
</template>
